/* .main-container {
  padding-top: 100px;
  width: 80%;
  float: right;
} */
img {
  float: left;
}

.part {
  font-weight: bold;
  line-height: 0 !important;
  margin-left: 0px !important;
  height: 20px;
}

.oem-ref {
  color: #00000000 !important;
  display: none !important;
}

.list-container {
  height: 800px;
  width: 1500px;
}

.ms {
  font-size: 8px !important;
  color: black;
}

.oem-sub-si {
  background: rgb(255, 237, 0);
  padding: 10px;
  color: #000000;
  font-weight: bold;
  border-radius: 5px;
}

.oem-sub-s {
  background: rgb(255, 237, 0);
  padding: 1px;
  color: #000000;
  font-weight: bold;
  border-radius: 5px;
}

.oem-sub {
  /* background: rgb(255, 237, 0); */
  /* padding: 10px; */
  color: #000000;
  font-weight: bold;
  border-radius: 5px;
}

.oem-sub-no {
  padding: 10px;
  color: #000000;
  font-weight: bold;
}

.titulo {
  font-size: 22px;
  color: #3394DF;
  line-height: 0.5 !important;
  padding-top: 5px;
  margin-left: 1px !important;
}

.titulo-marca {
  font-size: 18px;
  font-weight: bold;
}

.marca {
  font-weight: bold;
}

.thumnails-producto {
  height: 100px;
  width: 100px;
}

.thumnails-producto:hover {
  transform: scale(2.0);
  border: solid 1pt #ff5252;
  background-color: white;
  z-index: 10000;
  position: relative;
  cursor: none;
}

.agregar-carrito:Hover {
  color: rgb(61, 221, 62);
  cursor: pointer;
}

.opciones-margin {
  float: bottom;
}

.thumnails-marca {
  height: 35px;
  width: 90px;
  margin-top: 5px;
}

.thumnails-calidad {
  height: 32px;
  width: 32px;
}

.thumnails-opciones {
  height: 35px;
  width: 35px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 50%;
  margin-top: -15px;
}

.thumnails-opciones:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.row-producto {
  /* height: 115px; */
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
  border-top: 1pt solid rgb(222, 223, 222);
}

.atributos {
  line-height: 0.5 !important;
  font-size: 14px;
  font-family: 'SEGOE UI' !important;
}

.txtAtributo {
  font-family: 'SEGOE UI' !important;
  float: right;
}

.atributos div i {
  padding: 5px;
}

table {
  border-collapse: collapse;
  min-width: 100%;
  width: 100% !important;
}

/*////////////////////////////////////////////////////////////////////////////*/
.texto-suma {
  font-weight: bold;
  color: rgb(255, 255, 255);
  /* top: 50% !important; */
  padding-top: -5px !important;
}

.suma {
  background: rgb(36, 182, 77);
  padding: 0px;
  border: none;
  font-weight: bold;
  font-size: 25px;
  float: left;
  height: calc(2.875rem + 2px);
}

.suma:hover {
  background: rgb(22, 205, 79);
  cursor: pointer;
}

.resta {
  background: rgba(196, 29, 29, 0.75);
  padding: 0px;
  border: none;
  font-weight: bold;
  float: left;
  font-size: 25px;
  height: calc(2.875rem + 2px);
}

.resta:hover {
  background: rgb(246, 14, 14);
  cursor: pointer;
}

.text-center {
  text-align: center !important;
  align-content: center !important;
}

.h-45 {
  height: calc(2.4rem) !important;
  margin: 0px !important;
  width: 10% !important;
}

.cant {
  border-radius: 0px !important
}

.agregar-carrito {
  margin-right: 15px !important;
  margin-left: -7px !important;
  top: -6px !important;
}
